<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ashram_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/logo_phone"
                android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ashram_app">
        <activity
            android:name=".ui.gallery.GaleryFullScreen"
            android:screenOrientation="landscape" />
        <activity android:name=".AddYoutubeVideo.AddYoutubeVideo" />
        <activity android:name=".AddVideo.AddVideoActivity" />
        <activity
            android:name=".ui.home.Youtube_fullscreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ashram_app.NoActionBar" />
        <activity
            android:name=".Login.Log_email_password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ashram_app.NoActionBar" />
        <activity
            android:name=".Login.LogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ashram_app.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ashram_app.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>



</manifest>